<!DOCTYPE html>
<style>
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
</style>

<html>
    <head>
        <link rel="stylesheet" href="../style//bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Skyvision | {% block title %}{% endblock %}</title>
    </head>
    <body style="overflow-x: hidden;">

        <div class="row" style="height: 100vh;">
            <div class="col-md-1" style="background-color: #153772;">
                <form action="#" method="POST" autocomplete="off" id="mainForm">
                    <label style="color:white">File:</label>
                    <br/>
                    <label style="color:white">{{ currFile | safe}}</label>
                    
                </form>
            </div>
            <div class="col-md-11" style="background-color: #282828;height: 100%;">{% block content%} {% endblock %}</div>
            
        </div>
        

        <script src="../style/script/jquery.slim.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="../style/script/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="../style/script/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{{url_for('static', filename='jquery.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jquery_cookie.js') }}" ></script>

        <script>
        $("#mainscrollbox").scroll(function() {
            sessionStorage.scrollTop = $(this).scrollTop();
        });

        $(document).ready(function() {
            let a= sessionStorage.scrollTop;
            if (a != "undefined") {
                $("#mainscrollbox").scrollTop(a);
            }
        });
        </script>
    </body>
</html>