{% extends "base.html" %}
{% block title %} homepage {% endblock %}
{% block content %}
<form action="#" method="POST" autocomplete="off" id="mainForm">
    <div class="row" style="height: 100vh; padding-left: 50px;padding-right: 50px;padding-top: 50px;">
        <div class="col-md-7" style="background-color: #373737;padding-left: 25px;border-radius: 25px;height: 95%;"><br>
            <div class="overflow-auto" style="height:95%;" id="mainscrollbox">
                {% for operation in range(ops|length)%}
                    {{ops[operation]|safe}}
                {% endfor %}
                <br/>
            </div>

        </div>
        <div class="col-md-5" style="padding-left: 25px;height: 95%;">
            <div class="col-md-12" style="background-color: #373737;border-radius: 25px;height: 100%;"><br>

                <div style="border-radius: 25px;height:40%;">

                    <img src="{{ url_for('video_feed') }}" style="border-radius:5px;max-width: 100%;max-height: 100%;">

                </div><br>
                
                <div style="border-radius:25px;height:10%;">
                    <label style="color: #ebebeb; font-size: 26px;padding-right: 25px;"> Selected Output : </label><input type="text" value={{ curr_out }} name="outID" style="background-color: #373737;color: #ebebeb;font-size: 26px;padding-left: 25px;"/>
                    <br><br>
                    <div style="text-align: center;padding-top: 5px;">
                        <input type="submit" name="action" value="Update" style="font-size: 25px;margin-right: 15px;color: #ebebeb;background-color:#525252" />>
                        <input type="submit" name="action" value="Save" style="font-size: 25px;margin-left: 15px;color: #ebebeb;background-color:#525252" />
                        <input type="submit" name="action" value="WindowMode" style="font-size: 25px;margin-left: 15px;color: #ebebeb;background-color:#525252" />
                    </div>

                </div><br>

                <br><br><br><br>

                <div style="background-color: #282828;border-radius: 25px;padding-bottom: 10px;margin-top:20px ;">
                
                    <br>

                    <div class="row" style="margin: 0 auto;display: flex;justify-content: center;">
                        <div class="dropdown" style="padding-right: 5px;padding-left: 5px;">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color: #00fff7;border-width: 3px;">
                            <label style="color: #ebebeb;">Input</label>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="text-align: left;background-color:rgba(0, 0, 0, 0.5);">
                                <input type="submit" name="action" value="Image Input" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Webcam Input" style="font-size: 20px;" />
                            </div>
                        </div>

                        <div class="dropdown" style="padding-right: 5px;padding-left: 5px;">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color:#ff9100;border-width: 3px;">
                            <label style="color: #ebebeb;">Morph</label>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <input type="submit" name="action" value="Gaussian Blur" style="font-size: 20px;" />
                                <input type="submit" name="action" value="MorphEx" style="font-size: 20px;" />
                            </div>
                        </div>

                        <div class="dropdown" style="padding-right: 5px;padding-left: 5px;">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color:#11ff00;border-width: 3px;">
                            <label style="color: #ebebeb;">Arithmetic</label>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <input type="submit" name="action" value="Bitwise And" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Math Add" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Split Channel" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Ratio" style="font-size: 20px;" />
                            </div>
                        </div>

                        <div class="dropdown" style="padding-right: 5px;padding-left: 5px;">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color:#e100ff;border-width: 3px;">
                            <label style="color: #ebebeb;">Colors</label>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <input type="submit" name="action" value="Color Mask" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Convert Color" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Find Contours" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Canny" style="font-size: 20px;" />
                            </div>
                        </div>

                        <div class="dropdown" style="padding-right: 5px;padding-left: 5px;">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color:#ff0000;border-width: 3px;">
                            <label style="color: #ebebeb;">Draw</label>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <input type="submit" name="action" value="Draw Contours" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Draw Contour" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Draw Circle" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Draw Circle Params" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Draw Rectangle Params" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Draw ellipse" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Draw Found Circle" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Draw Found Circles" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Text" style="font-size: 20px;" />
                            </div>
                        </div>

                        <div class="dropdown" style="padding-right: 5px;padding-left: 5px;">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color:#fff200;border-width: 3px;">
                            <label style="color: #ebebeb;">Misc</label>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <input type="submit" name="action" value="Flip" style="font-size: 20px;" />
                                <input type="submit" name="action" value="LargestContour" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Fit ellipse" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Minimum Enclosing Circle" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Minimum Contour Area" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Bounding Rectangle" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Rotated Rectangle" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Blank Image" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Hough Circles" style="font-size: 20px;" />
                                <input type="submit" name="action" value="ApproxPolyDP" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Convex Hull" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Square Contours" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Average Circle Radius" style="font-size: 20px;" />
                                <input type="submit" name="action" value="Circle Coords" style="font-size: 20px;" />
                            </div>
                        </div>

                    </div><br>

                </div><br>

            </div>
        </div>
    </div>
</form>
{% endblock %}